<div class="container">
    <div class="card-body">
        <h2 class="mt-5 mb-5">DIBE Top 100</h2>
        <!-- <div>
            <input type="date" id="calendar" min="" max="">
            <div id="go_btn" class="btn btn-dark btn-sm">go</div>
        </div> -->
        <div id="top_btn" class="btn btn-dark btn-sm" style="position: fixed; right: 30px; bottom: 100px;">top</div>
        <div class="text-center h4"><%- today %></div>
        <table class="table">
            <tr>
                <td style="border-top: none;"><input id="allch" type="checkbox" style="accent-color: red;"></td>
                <td id="cnt_box" colspan="2" style="vertical-align: middle; border-top: none;">0 곡 선택 됨</td>
                <td colspan="2" class="text-right" style="border-top: none;"><div id="add_btn" class="btn btn-dark btn-sm" style="position: sticky; position: -webkit-sticky; right: 30px; top: 50px;" data-toggle="modal" data-target="#addMany">선택추가</div></td>
            </tr>
            <% for(const [i, song] of data.entries()) { %>
                <tr>
                    <td style="vertical-align: middle;"><input name="tch" type="checkbox" value="<%- song.songId %>" style="accent-color: red;" <% if (!song.ytURL) { %> disabled <% } %> ></td>
                    <td style="text-align: center; vertical-align: middle;"><%- i+1 %></td>
                    <td><div class="imgBox ho" onclick="oneplay(`<%- song.songId %>`, `<%- song.ytURL %>`)"><img name="top100Img" src="<%- song.img %>"></div></td>
                    <td class="align-middle">
                        <div name="top100Title" class="ho" onclick="songInfo('<%- song.songId %>')"><%- song.title %></div>
                        <div name="top100Artist"><%- song.artist %></div>
                    </td>
                    <td class="align-middle"><button name="add_btn" type="button" class="btn" data-toggle="modal" data-target="#addOne" onclick="setdata('<%- song.songId %>', '<%- song.ytURL %>')"><i title="곡 추가" class="fas fa-plus"></i></button></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>

<script src="javascripts/chart.js"></script>