<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIBE</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="shortcut icon" href="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg" />
    </head>
    <body>
        <%- include('./include/searchBar') %>
        <%- include('./include/nav') %>

        <header>
            <div id="srch_bar">
                <form name="myform" class="form-inline" action="/songs/search" method="get">
                    <input class="form-control mr-2 col" type="text" id="srchKwd" name="srchKwd" value="" placeholder="DIBE 검색" autofocus>
                    <button id="srch_btn" class="btn btn-secondary col-1" type="button">Search</button>
                </form>
            </div>
                <video style="width: 100%;" src="" autoplay muted></video>
        </header>
            
        <section>
            <%- include('./include/footer') %>
        </section>
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="javascripts/main.js"></script>
    </body>

    <script>
        if ('<%- error %>') alert('<%- error %>')
    </script>
</html>
