<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIBE</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="stylesheets/top100.css">
        <link rel="stylesheet" href="/stylesheets/loader.css">
        <link rel="shortcut icon" href="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg" />
    </head>
    <body>
        <%- include('./include/searchBar') %>
        <%- include('./include/nav') %>
        <%- include('./include/header') %>
        <%- include('./song/add-modal') %>
        <%- include('./song/play-list') %>
        <div class="isAuthenticated" style="display: none;"><%- isAuthenticated %></div>
        <% if (user) { %> <div id="sUserId" style="display: none;"><%- user._id %></div> <% } %>

        <section>
            <div class="loader" style="display: none; z-index: 1055;"></div>
            <div id="main">
                <!-- <video style="width: 100%;" src="" autoplay muted></video> -->
                <% if (flag === 'today') { %> <video style="width: 100%;" src="" autoplay muted></video>
                <% } else if (flag === 'chart') { %> <%- include('chart') %>
                <% } else if (flag === 'search') { %> <%- include('song/list') %> <% } %>
            </div>
            
            <%- include('./include/footer') %>
        </section>
        <%- include('./include/controler') %>
        
        <div id="script_sec">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
            <script src="javascripts/main.js"></script>
            <script src="javascripts/player.js"></script>
        </div>
    </body>
</html>
