<div class="container">
    <div class="card-body" style="padding-bottom: 300px;">
        <h2 class="mt-5 mb-5"><font color="yellow"><%- user.nickNm %></font> 님 플레이리스트</h2>
        <div class="row">
            <div class="p-3 ho" onclick="" data-toggle="modal" data-target="#addPlayListModal">
                <div style="width: 200px; height: 200px; border: 1px solid white; text-align: center; background: #111;"><i style="position: relative; top: 50px;" title="새 플레이리스트 추가" class="fas fa-plus fa-5x"></i></div>
                <div style="width: 200px;" class="mt-3 text-center">새 플레이리스트 추가</div>
            </div>
            <% for (const [i, list] of playList.entries()) { %>
                <div class="p-3 ho" title="<%- list.comment %>" onclick="getPlayList('<%- list._id %>')">
                    <div style="width: 200px; height: 200px;">
                        <% if (!thums[i].thum1) { %> <div><img src="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg" style="width: 100%;"></div>
                        <% } if (!thums[i].thum2) { %> <div><img src="<%- thums[i].thum1 %>"></div>
                        <% } if (thums[i].thum2) { %>
                            <div class="row" style="margin-left: 0px;">
                                <div><img src="<%- thums[i].thum1 %>"></div>
                                <div><img src="<%- thums[i].thum2 %>"></div>
                            </div>
                            <div class="row" style="margin-left: 0px;">
                                <div><img src="<%- thums[i].thum3 %>"></div>
                                <div><img src="<%- thums[i].thum4 %>"></div>
                            </div>
                        <% } %>
                    </div>
                    <div style="width: 200px;" class="mt-3 text-center"><%- list.listNm %></div>
                </div>
            <% } %>
        </div>
    </div>
</div>