<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIBE</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card-body">
            <h1>관리자</h1>
            <div class="btn btn-secondary btn-sm" onclick="location.href='/'">돌아가기</div>
            <div class="btn btn-secondary btn-sm" onclick="location.href='/admin/users'">사용자 관리</div>
            <div class="btn btn-secondary btn-sm" onclick="location.href='/admin/songs'">음원 관리</div>
            <div class="mt-5">
                <div class="text-right"><%- reports.length %> 건</div>
                <table class="table table-hover">
                        <% for (const report of reports) { %>
                            <tr>
                                <td onclick="location.href=`/admin/update/<%- report.songId %>`"><%- report.title %></td>
                                <td onclick="location.href=`/admin/update/<%- report.songId %>`"><%- report.artist %></td>
                                <td onclick="location.href=`/admin/update/<%- report.songId %>`"><%- report.content.replaceAll('\n', '<br>') %></td>
                                <td><div class="btn btn-sm btn-danger" onclick="location.href=`/admin/reportdel/<%- report._id %>`">확인</div></td>
                            </tr>
                        <% } %>
                </table>
            </div>
            <div id="resultDiv"></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

    <script>
        async function localDown() {
            const res = await fetch('/songs/downs/local')
            const data = await res.json()
            let write = 'songs <br>'
            write += `${JSON.stringify(data.songs)} <br><br>`
            $('#resultDiv').html(write)
        }
    </script>
</html>