<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <title>DIBE</title>
</head>
<body>
    <div class="container mt-5">
        <div class='card-body'>
            <h1>곡정보</h1>
            <button type="button" class="btn btn-primary" onclick="location.href='/admin/songs'">뒤로가기</button>
            <form method="post" class="mt-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">제목</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.title %>" name="title">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">가수</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.artist %>" name="artist">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">앨범</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.album %>" name="album">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">발매</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.release %>" name="release">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">장르</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.genre %>" name="genre">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">작곡</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.write %>" name="write">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">작사</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.words %>" name="words">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">편곡</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.arrange %>" name="arrange">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">URL</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.ytURL %>" name="ytURL">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">isFile</span>
                    </div>
                    <input type="text" class="form-control" value="<%- song.isFile %>" name="isFile">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">가사</span>
                    </div>
                    <textarea class="form-control" name="lyrics" style="resize: none; overflow: hidden;"><%- song.lyrics %></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-success">적용</button>
                </div>
            </form>

            <div class="input-group mb-3 mt-5">
                <input type="text" class="form-control url" placeholder="url을 입력하세요">
                <div class="input-group-append">
                    <button class="btn btn-warning srch" type="button">검색</button>
                    <button class="btn btn-primary play" type="button">미리듣기</button>
                    <button class="btn btn-danger down" type="button">음원다운</button>
                </div>
            </div>

            <div class="mt-5">
                <audio controls <% if(exists) { %> src="/track/<%-song._id%>.mp4" <% } %>></audio>
                <audio id="preview" controls></audio>
            </div>
        </div>
    </div>
    <div class="loader" style="display: none;"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function textareaHeightAuto() {
            const textareaHeight = $('textarea').prop('scrollHeight')
            $('textarea').css('height', textareaHeight)
        }
        textareaHeightAuto()

        $('.down').on('click', async () => {
            const _id = `<%- song._id %>`
            const url = $('.url').val()
            const res = await fetch('/admin/downsong', {
                method : 'POST',
                headers : {"Content-Type": "application/json"},
                body : JSON.stringify({_id, url}) 
            })
            const json = await res.json()
            if (json) alert('음원 다운이 완료되었습니다.')
            location.reload()
        })

        $('.play').on('click', async () => {
            $('.loader').show()
            const url = $('.url').val()
            const res = await fetch('/admin/preview', {
                method : 'POST',
                headers : {"Content-Type": "application/json"},
                body : JSON.stringify({url}) 
            })
            const blob = await res.blob()
            const src = URL.createObjectURL(blob)
            preview.src = src
            preview.play()
            $('.loader').fadeOut()
        })

        $('.srch').on('click', async () => {
            $('.loader').show()
            const response = await fetch('/admin/getYtUTL?songId=<%-song._id%>')
            const url = await response.json()
            $('.url').val(url)
            $('.loader').fadeOut()
        })
    </script>
</body>
</html>