<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIBE Search Result</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/top100.css">
    <link rel="shortcut icon" href="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg" />
</head>
<body>
    <%- include('../include/searchBar') %>
    <%- include('../include/nav') %>
    <%- include('../include/header') %>
    <%- include('../song/add-modal') %>

    <section>
        <div class="container">
            <div class="card-body" style="padding-bottom: 300px;">
                <h2 class="mt-5 mb-5">DIBE '<%- srchKwd %>' 검색결과</h2>
                <% if (songs.length < 1) { %>
                    <br><br>
                    <p class="text-center">'<%- srchKwd %>'에 대한 검색 결과가 없습니다. </p>
                <% } %>
                <table class="table" style="width: 80%; margin: auto;">
                    <% for (song of songs) { %>
                        <tr>
                            <td><div class="imgBox"><img name="top100Img" src="<%- song.img %>" alt=""></div></td>
                            <td>
                                <div name="top100Title">
                                    <a href=""><%- song.title %></a>
                                </div>
                                <div name="top100Artist"><%- song.artist %></div>
                            </td> 
                            <td class="align-middle"><button name="add_btn" type="button" class="btn" data-toggle="modal" data-target="#addOne" onclick="setdata('<%- song._id %>', '<%- song.ytURL %>')"><i title="곡 추가" class="fas fa-plus"></i></button></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
        <%- include('../include/footer') %>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>