<div class="container">
    <div class="card-body" style="padding-bottom: 300px;">
        <h2 class="mt-5 mb-5">DIBE '<%- srchKwd %>' 검색결과</h2>
        <% if (songs.length < 1) { %>
            <br><br>
            <p class="text-center">'<%- srchKwd %>'에 대한 검색 결과가 없습니다. </p>
        <% } %>
        <table class="table" style="width: 80%; margin: auto;">
            <% for (song of songs) { %>
                <tr>
                    <td><div class="imgBox"><img name="top100Img" src="<%- song.img %>" alt=""></div></td>
                    <td>
                        <div name="top100Title" class="ho" onclick="songInfo('<%- song._id %>')"><%- song.title %></div>
                        <div name="top100Artist"><%- song.artist %></div>
                    </td> 
                    <td class="align-middle"><button name="add_btn" type="button" class="btn" data-toggle="modal" data-target="#addOne" onclick="setdata('<%- song._id %>', '<%- song.ytURL %>')"><i title="곡 추가" class="fas fa-plus"></i></button></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>